.about {
  min-height: 60vh;
  width: 100%;
  background-color: #ffecf998;
  position: relative;
  isolation: isolate;
}
.container {
  --max-width: 78%;
  --padding: 2rem;
  width: min(var(--max-width), 100% - var(--padding));
  margin-inline: auto;
  font-family: "Poppins";
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 30vh;
  padding-bottom: 30vh;
  /* background-color: red; */
}

.about_img {
  display: grid;
  place-items: center;
}
.about_img_div {
  width: 350px;
  height: 350px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border: 1px solid rgb(36, 36, 36);
}
.about_p,
.second_p {
  width: 65%;
  font-size: 16px;
  color: rgb(42, 42, 42);
}
.second_p {
  margin-bottom: 2rem;
}
.about_small {
  margin-top: 2rem;
  font-size: 14px;
  margin-left: 3px;
  font-weight: 500;
  color: rgb(135, 135, 135);
  letter-spacing: 0.7px;
}
.about_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.about_h1 {
  font-weight: 800;
  color: #121314;
}
.about_big_text {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 16vw;
  color: #ffe5f7ae;
  z-index: -1;
}
.about_main_img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}
@media (max-width: 70em) {
  .container {
    --max-width: 90%;
    --padding: 2rem;

    width: min(var(--max-width), 100% - var(--padding));
    margin-inline: auto;
    font-family: "Poppins";
    grid-template-columns: 1fr;
    padding-top: 15vh;
  }

  .about_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about_small {
    margin-top: 2rem;
    font-size: 13px;
  }
  .about_p,
  .second_p {
    font-size: 16px;
    color: rgb(69, 69, 69);
    width: 70%;
  }
  .about_h1 {
    font-size: 2.5rem;
  }
  .about_small,
  .about_h1,
  .about_p,
  .second_p {
    text-align: center;
  }
}

@media (max-width: 50em) {
  .container {
    padding-top: 1vh;
    padding-top: 15vh;

    padding-bottom: 15vh;
  }
  .about_img_div {
    width: 300px;
    height: 300px;
  }
  .about_main_img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  .about_p,
  .second_p {
    width: 100%;
  }
  .about_big_text {
    display: none;
  }
}

@media (max-width: 40em) {
  .about_p,
  .second_p {
    font-size: 16px;
    color: rgb(69, 69, 69);
    width: 100%;
  }
  .about_img_div {
    width: 250px;
    height: 250px;
    background-color: teal;
  }
  .about_main_img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  .about_p,
  .second_p {
    width: 100%;
  }
}
